<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Sabrina Edith Reckinger">
        <meta name="description" content="software solutions">
        <meta name="keywords" content="solutions, software, trackgenix, gigatech software solutions SA, company, app, work, blog, Technologies">
        <meta name="copyright" content="Gigantech Software Solutions SA">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
        <title>
            Trackgenix
        </title>
    </head>
    <body>
        <header>
            <div>
                <img src="assets/LOGO-RR 2.svg" alt="radium rocket logo">
            </div>
            <div>
                <h2>
                    <code translate="no">Gigantech Software Solution SA</code>
                </h2>
            </div>
        </header>
    <div id="principal">
	   <aside>
            <div id="placeholderline">
                <a href="#" >
                    <img src="assets/arrow.svg" alt="arrow icon" id="arrow">
                </a>
                <a href="#" >
                    <img src="assets/find.svg" alt="find icon" id="find">
                </a>
                <form action="" id="aside-placeholder" >
                    <input type="text" placeholder="Placeholder">
                </form>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sing Up
                        </a>
                    </li>
                    <li>
                        <a href="./login.html">
                            LogIn
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Information
                        </a>
                    </li>
                </ul>

            </nav>
            <address>
                <h3>
                    Contact Us
                </h3>
                <div class="container-contact">
                    <img src="assets/email.svg" alt="email icon" class="icon">
                    <h4>
                        <code translate="no">
                            trackgenix@gmail.com
                        </code>
                    </h4>
                </div>
                <div class="container-contact">
                    <img src="assets/gps.svg" alt="location icon" class="icon">
                    <h4>
                        <code translate="no">
                            Pellegrini 3000, Rosario, Argentina
                        </code>
                    </h4>
                </div>
                <div class="container-contact">
                    <img src="assets/phone.svg" alt="phone icon" class="icon">
                    <h4>
                        0800999000
                    </h4>
                </div>
            </address>
        </aside>
         <main>
            <section class="mobile-nav-align-row">
                <div class="menu-postal-icons">
                    <div id="arrow-tablet">
                        <a href="#">
                            <img src="assets/arrow.svg">
                        </a>
                    </div>
                    <div id="menu-dots">
                        <a href="#">
                            <img src="assets/menu-dots.svg">
                        </a>
                    </div>
                    <div id="contact">
                        <a href="#">
                            <img src="assets/postal.svg">
                        </a>
                    </div>
                </div>
                <h1>
                    Trackgenix
                </h1>
                <div id="burger">
                    <a href="#">
                        <img src="assets/burguer.svg">
                    </a>
                </div>
            </section>
            <section class="column-articles">
                <div class="big-image">
                    <img src="assets/trackgenix-big.png" alt="men working with the computer">
                    <h2>
                        Keep a good working life-balance
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident architecto asperiores non sit quod optio ad in ipsa accusamus?
                    </p>
                    <button class="read-more-button">
                        Read More
                    </button>
                </div>
                <div class="little-image">
                    <article class="blog-2">
                        <img src="assets/trackgenix-small-two.png" alt="random code">
                        <div>
                            <h2>
                                Technologies
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi esse tempore quae?
                            </p>
                            <button class="read-more-button">
                                Read More
                            </button>
                        </div>
                     </article>
                    <article class="blog-2">
                        <img src="assets/trackgenix-small-one.png" alt="women working">
                        <div>
                            <h2>
                                New Technologies
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aut fugit itaque.
                            </p>
                            <button class="read-more-button">
                                Read More
                            </button>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2 class="section-title">
                    Our trayectory in the software word since 2019
                </h2>
                <div class="trayectory">
                    <img src="assets/trayectory.png" alt="people working">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, voluptas. Cupiditate, quis sed dolore deleniti fugiat similique obcaecati atque error adipisci praesentium nihil autem ullam deserunt expedita quos vel harum perferendis facere laboriosam? Consequuntur commodi veritatis excepturi animi esse cumque fugiat nostrum, error quisquam earum quas! Id modi perspiciatis officiis soluta illum.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section">
                    Work with us!
                </h2>
                <div class="work-container">
                    <div class="workwithus-item">
                    <img src="assets/🦆 icon _Laptop Code_.svg" alt="icon of a computer">
                        <div class="wwus-text">
                            <h4 class="section-title">
                                Develop your productivity
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, autem!
                            </p>
                        </div>
                    </div>
                    <div class="workwithus-item">
                        <img src="assets/🦆 icon _People Team_.svg" alt="icon of a team of people">
                        <div class="wwus-text">
                            <h4 class="section-title">
                                Running Teams
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, autem!
                            </p>
                        </div>
                    </div>
                 </div>
                <div class="work-container">
                   <div class="workwithus-item">
                        <img src="assets/🦆 icon _user progress_.svg" alt="statistical graph icon">
                        <div class="wwus-text">
                            <h4 class="section-title">
                                Progress in your work
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, autem!
                            </p>
                        </div>
                    </div>
                    <div class="workwithus-item">
                        <img src="assets/🦆 icon _list task_.svg" alt="task list icon">
                        <div class="wwus-text">
                            <h4 class="section-title">
                                Take decisions
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, autem!
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-functions">
                <h2>
                    Functions
                </h2>
                <div class="functions-img-and-list">
                    <div>
                        <img src="assets/functions.png" alt="Table with computers">
                    </div>
                    <div>
                        <ol>
                            <li>
                                Record of hours
                            </li>
                            <li>
                                Reports
                            </li>
                            <li>
                                Resource Management
                            </li>
                            <li>
                                Multiple Roles
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="getintouch-section">
                <h2>
                    Get in Touch
                </h2>
                <form action="#">
                    <input type="text" placeholder="Name">
                     <input type="text" placeholder="Email">
                    <select name="Resource Area">
                        <option value="resource-area">
                            Resource Area
                        </option>
                        <option value="human-resources">
                            Human Resources
                        </option>
                        <option value="systems">
                            Systems
                        </option>
                        <option value="commercialization">
                            Commercialization
                        </option>
                    </select>
                <div>
                    <textarea name="contact with the area" cols="30" rows="10"></textarea>
                </div>
                <button class="read-more-button">
                    Send
                </button>
                </form>
            </section>
            <section class="title-section">
                <h2>
                    Title
                </h2>
                <div class="title-section-one">
                    <div class="title-section-icons">
                        <div class="title-block">
                            <img src="assets/tick.svg" alt="tick icon">
                            <img src="assets/line.png" alt="line icon" class="line">
                        </div>
                        <div class="title-text">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum ut ex assumenda vitae similique, quam, sed adipisci officia, in excepturi ipsam nam atque rem magnam rerum. Porro, ipsum laboriosam.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="title-section-one">
                    <div class="title-section-icons">
                        <div class="title-block">
                            <img src="assets/tick.svg" alt="tick icon">
                            <img src="assets/line.png" alt="line icon" class="line">
                        </div>
                        <div class="title-text">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum ut ex assumenda vitae similique, quam, sed adipisci officia, in excepturi ipsam nam atque rem magnam rerum. Porro, ipsum laboriosam.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="title-section-one">
                    <div class="title-section-icons">
                        <div class="title-block">
                            <img src="assets/tick.svg" alt="tick icon">
                            <img src="assets/line.png" alt="line icon" class="line">
                        </div>
                        <div class="title-text">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum ut ex assumenda vitae similique, quam, sed adipisci officia, in excepturi ipsam nam atque rem magnam rerum. Porro, ipsum laboriosam.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="list-section-lists">
                <h2>
                    Lists
                </h2>
                <div class="lists">
                    <div class="p-list">
                        <h4 class="list-type"> Ordered List</h4>
                        <ol>
                            <li>
                                Dolor etiam magna etiam.
                            </li>
                            <li>
                                Sagittis lorem eleifend.
                            </li>
                            <li>
                                Felis dolore viverra.
                            </li>
                        </ol>
                    </div>
                    <div class="p-list">
                        <h4 class="list-type"> Unordered List</h4>
                        <ul>
                            <li>
                                Dolor etiam magna etiam.
                            </li>
                            <li>
                                Sagittis lorem eleifend.
                            </li>
                            <li>
                                Felis dolore viverra.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
	</div>
    	<footer class="footer-section">
            <h3>
                <code translate="no">
                    @ 2022 GiganTech Software Solution SA
                </code>
            </h3>
            <div class="social">
                <a href="#">
                    <img src="assets/facebook.svg" alt="facebook icon" id="facebook">
                </a>
                <a href="#">
                    <img src="assets/twitter.svg" alt="twitter icon" id="twitter">
                </a>
                <a href="#">
                    <img src="assets/linkendln.svg" alt="linkedln icon" id="linkedln">
                </a>
			</div>
        </footer>
    </body>
</html>