<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="../javascript/login.js"></script>
    <title> Trackgenix Login </title>
</head>
<body>
    <header>
        <div>
            <img src="/assets/LOGO-RR 2.svg" alt="radium rocket logo">
        </div>
        <div>
            <h2>
                <code translate="no">Gigantech Software Solution SA</code>
            </h2>
        </div>
    </header>
    <div class="body-login-container">
        <div class="box-login">
            <h2> ADMIN LOGIN </h2>
            <h3> Please enter your Email or your Phone number and your password to log in for your account
            </h3>
            <div>
                <form action="#">
                    <fieldset>
                        <label>Email</label>
                        <input type="text" placeholder="email" id="inputEmail">
                        <p class="error-message">* invalid email</p>
                    </fieldset>
                    <fieldset>
                        <label>Password</label>
                        <input type="password" placeholder="password" id="inputPassword">
                        <p class="error-message">* invalid password</p>
                    </fieldset>
                    <div>
                        <button class="button-login" type="submit">
                            LOG IN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="trackgenix-img">
        <img src="/assets/TrackGenix.svg" alt="trackgenix">
    </div>
    <footer class="footer-section">
        <h3>
            <code translate="no">
                @ 2022 GiganTech Software Solution SA
            </code>
        </h3>
        <div class="social">
            <a href="#">
                <img src="/assets/facebook.svg" alt="facebook icon" id="facebook">
            </a>
            <a href="#">
                <img src="/assets/twitter.svg" alt="twitter icon" id="twitter">
            </a>
            <a href="#">
                <img src="/assets/linkendln.svg" alt="linkedln icon" id="linkedln">
            </a>
        </div>
    </footer>
</body>
</html>