main {
    width: 100%;
    margin-top: 10px;
}
#arrow-tablet {
    display: none;
}
h1 {
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
}
.mobile-nav-align-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10 px;
}
.menu-postal-icons {
    display: flex;
    flex-direction: column;
}
#contact {
    margin-left: 9px;
    margin-top: 12px;
}
#burger {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}
#menu-dots {
    margin-left: 10px;
}
main section article {
    width: 100%;
}
main button {
    display: flex;
    flex-direction: column;
}
.column-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 10;
    margin-bottom: 55px;
}
.column-article article img, .trayectory img, .workwithus-item img, .section-functions div div img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 300px;
}
.column-article article p, .trayectory p, .section-title, .workwithus-item div p, .section-functions div div, .title-section div ul li, .list-section p ol {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.big-image {
    width: 80%;
    align-items: center;
}
.blog-2 {
    order: 2;
}
.blog-3 {
    order: -1;
}
.read-more-button {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: aliceblue;
    border-color: transparent;
    color: gray;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}
.section-title, .section-function h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    width: 97%;
}
.section-title p {
    margin-bottom: 70px;
}
.section-functions div div {
    font-size: 25px;
    line-height: 50px;
    width: 100%;
}
.getintouch-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: fit-content;
}
.getintouch-section div textarea {
    background-color: transparent;
    border-color: rgb(225, 213, 213);
    height: 100%;
    color: gray;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 20px;
    height: 300px;
}
.title-section h2 {
    margin-top: 750px;
}
.title-section-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.list-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;
}
.list-type {
    margin-top: 35px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    #arrow-tablet {
        display: flex;
    }
    #contact {
        margin-top: 0px;
    }
    .mobile-nav-align-row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10 px;
    }
    .menu-postal-icons {
        display: flex;
        flex-direction: row;
        margin-left: 6px;
    }
    h1 {
        font-style: bold;
        font-weight: 700;
        font-size: 60px;
    }

    .big-image, .blog-2, .blog-3 {
        display: flex;
        flex-direction: column;
    }
    .column-article {
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .big-image {
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .work-container {
        display: flex;
        flex-direction: row;
    }
    .workwithus-item {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .workwithus-item img, .workwithus-item p {
        width: 25%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
    .wwus-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-title {
        display: flex;
        margin-bottom: 20px;
    }
    .functions-img-and-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%;
    }
    .functions-img-and-list div img {
        margin-left: 30px;
    }
    .functions-img-and-list div ol {
        width: 70%;
        margin-left: 30px;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
        margin-top: 65px;
    }
    .section-functions {
        width: 100%;
    }
    .title-section {
        margin-bottom: 50px;
    }
    .title-section h2 {
        margin-top: 50%;
        margin-bottom: 50px;
    }
    .title-block {
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    .title-section-one {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .title-section-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .line {
        height: 40px;
        align-items: center;
        width: 80%;
    }
    .title-text ul li {
        display: flex;
        flex-direction: column;
    }
    .list-section-lists {
        margin-top: 700px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .p-list {
        display: flex;
        flex-direction: column;
    }
    input, select, textarea {
        display: flex;
        flex-direction: column;
        width: 650px;
        margin-bottom: 30px;
    }
}
@media (min-width: 1024px){
    main {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: right;
        margin-top: 0%;
    }
    #arrow-tablet, #menu-dots, #contact {
        display: none;
    }
    #burger {
        display: block;
    }
    .trayectory {
        border-bottom: 20px rgb(0, 0, 0);
        margin-bottom: 20px;
    }
    #burger {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}