header, main, aside, footer {
    font-family: 'Roboto', sans-serif, 'Lucida Sans';
    color: #373867;
    font-size: 20px;
}
p {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
}
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373867;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}
@media (min-width: 1024px){
    body {
        flex-wrap: wrap;
    }