 {
    font-family: 'Roboto', sans-serif, 'Lucida Sans';
}
header, main, aside, footer {
    font-family: 'Roboto', sans-serif, 'Lucida Sans';
}
main, aside {
    color: #373867;
    height: 100%;
}
body {
   height: 100%;
}
footer {
    text-align: center;
    width: 100%;
    height: 65px;
    padding: 5px;
    background-color:#D9D9D9;
}
footer img {
    margin-left: 30px;
    margin-top: 10px;
    width: 25px;
}
aside {
    height: 3000px;
    width: 18%;
    margin-right: 15px;
    border-radius: 16px;
    background-color: #C4C4C4;
    z-index: 1;
}
aside nav {
    text-align: justify;
    margin-left: 40px;
    line-height: 85px;
    font-size: 25px;
}
#aside-placeholder {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    width: 65%;
}
#find {
     width: 25px;
    height: 25px;
}
#arrow {
    width: 25px;
    height: 25px;
}
#aside-placeholder input {
    background-color: transparent;
    width: 110px;
    margin-top: 18px;
}
address {
    line-height: 20px;
    font-size: 20px;
}
address div {
    display: inline;
}
address div img {
    margin-left: 10px;
}
.container-contact {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 40px;
    line-height: 18px;
    text-align-last: center;
}
.container-contact h4 {
    margin-left: 10px;
    margin-right: 10px;
    text-align-last: center;
    font-size: 15px;
    max-width: 70%;
}
address h3 {
    text-align: center;
    font-size: 25px;
    line-height: 10px;
}
.icon {
    margin-right: 5px;
}
h1 {
    text-align: center;
    margin-top: 110px;
    font-style: bold;
    font-weight: 700;
    font-size: 50px;
    text-decoration-line: underline;
    margin-left: 350px;
}
.blog {
    margin-top: 37px;
    width: 60%;
    margin-left: 45px;
}
.little-blog {
    width: 48%
    margin-bottom: 8px;
    margin-top: 17px;
}
.little-blog article {
    margin-bottom: 20px;
    margin-top: 5px;
}
article div h2 {
    font-size: 15px;
    font-style: bold;
}
.blog-text {
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
}
.text-little-blog h2 {
    font-size: 17px;
    font-weight: 700;
    text-align: justify;
}
.little-button {
    margin-right: 5px;
}
.little-blog-img {
    width: 130px;
    padding: 6px;
}
#trayectory-section {
    clear: both;
    align-items: center;
    width: 100%;
}
#trayectory-section p {
    text-align: justify;
    width: 40%;
    margin-right: 35px;
    margin-left: 35px;
}
#trayectory-section img {
    width: 450px;
    margin-right: 50px;
}
#workwithus-section {
    clear: both;
}
.workwithus-item {
       width: 50%;
   }
.workwithus-item h4 {
    font-weight: 900;
}
.workwithus-item img {
       margin: 10px;
       width: 90px;
       margin-right: 40px;
       margin-bottom: 20px;
   }
   .workwithus-item-two {
    width: 50%;
}
.section-title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.title-item {
    clear:both;
}
.title-item img {
    vertical-align: middle;
    margin-left:40px;
}
.unir {
    margin-right: 80px;
}
#title {
    clear:both;
}
#list {
    clear:both;
}
#list ol {
    width: 50%;
}
#list li {
    text-align: center;
}
#functions-section img {
    width: 500px;
    margin-right: 100px;
    margin-bottom: 20px;
}
#functions-section li {
     margin-top: 30px;
     font-weight: 700;
     font-size: 20px;
}
#getintouch-section {
    clear: both;
    width: 60%;
    margin-left:20%;
    align-items: center;
    align-content: center;
    text-align: center;
}
#getintouch-section input {
    width: 100%;
    margin-bottom: 10px;
    height: 25px;
}
#getintouch-section select {
    width: 100%;
    margin-bottom: 10px;
}
#getintouch-section textarea {
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
}
p {
    font-size: 17px;
    margin-top: 15px;
}


