@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* global */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif ;
    height: 100%;
    width: 100%;
}
main {
    background-color: white;
    color: #373867;
    height: 100%;
    width: 74.48%;
    margin-left: 24.52%;
}
/* header */
header {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    display: inline-flex;
    background: #373867;
    color: #FFFFFF;
}
#gigantech {
    align: center;
    font-size: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    padding-top: 7px ;
    padding-left: 280px;
    font-weight: 1000;
}
/* #logo {
    position: ;
    align-items: margin-left;
    width: 86px;
    height: 72px;
    left: 48px;
    top: 18px;
} */
/* aside */
aside {
    position: relative;
    width: 24.52%;
    height: 100%;
    left: 0px;
    top: 70px;
    background: #C4C4C4;
    border-radius: 16px;
    color: #373867;
    margin-top: 0px;
}
nav {
    margin-left: 20.72%; 
}
.principalNews {
    border-bottom: 100px #373867 solid;
    padding-top: 100px;
}
#trackgenix {
    position: relative;
    text-align: center;
    width: 499px;
    height: 80px;
    left: 830.29px;
    top: 146.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-decoration-line: underline;
    
    color: #373867;
}